<template>
    <div>
        <div v-if="comments != null">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="comment in comments" v-if="(comment.hidden==0) || (user != null)">
                    <small class="pull-right">{{ comment.created_at }}</small>
                    <b v-if="comment.user_id" style="color:#c0392b;">[ {{ comment.user.name }} ]</b>
                    <b v-if="comment.applicant_id" style="color: #2980b9">[ {{ comment.applicant.name }} ]</b>
                    <b v-if="comment.hidden==1" style="color: #f1c40f">[Hidden]</b>
                    <p>{{ comment.body }}</p>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-body" style="background-color: #fafbfc"
                 v-if="(user != null) || (request.request_information == 1)">
                <div class="row justify-content-center" v-if="update == true">
                    <label class="col-md-3 col-form-label text-md-right">
                        <em v-if="user != null">{{ user.name }}</em>
                        <em v-if="applicant != null">{{ applicant.name }}</em>
                    </label>
                    <div class="col-md-9 form-group">
                        <textarea id="comment"
                                  class="form-control form-control-lg"
                                  v-model="body"
                                  placeholder="Écrire un commentaire..."
                                  style="height: 100px; border: 1px solid #eee;"
                        ></textarea>
                    </div>
                    <div class="col-md-9 offset-md-3" v-if="user != null">
                        <label for="hidden">Hidden for applicant</label>
                        <input type="checkbox" name="hidden" id="hidden" v-model="hidden" value="1"
                               style="width: 50px;">
                    </div>
                    <div class="col-md-9 offset-md-3 form-group">
                        <button class="btn btn-lg btn-primary" @click="send_comment()">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        name: 'Comments',
        props: {
            app_url: {
                type: String,
                required: true
            },
            request: {
                type: Object,
                required: true
            },
            user: {
                type: Object,
                default: null
            },
            applicant: {
                type: Object,
                default: null
            },
            update: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                comments: null,
                body: null,
                hidden: true,
            }
        },
        mounted() {
            this.load_comments();
            EventBus.$on('NewFile', (payload) => {
                this.load_comments();
            });
        },
        methods: {
            load_comments() {
                axios.post(this.app_url + '/api/comments', {
                    request_id: this.request.id
                })
                    .then((response) => {
                        this.comments = response.data;
                    })
            },
            send_comment() {
                axios.post(this.app_url + '/api/post_comment', {
                    request_id: this.request.id,
                    user: this.user,
                    applicant: this.applicant,
                    body: this.body,
                    hidden: 0
                })
                    .then((response) => {
                        this.body = null;
                        this.load_comments();
                    })
            }
        }
    }
</script>

<style lang="scss">
    .files-body {
        padding: 0px;
    }

    .list-group-item {
        p {
            font-size: 20px;
        }
    }

    .card-comment {
        border-radius: 0px 0px 5px 5px;
    }
</style>
