<template>
    <div class="custom-actions">
        <span class="btn btn-primary" v-if="requests.indexOf(rowData.id)==-1" @click="itemAction('addItem', rowData, rowIndex)">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
        <span class="btn btn-danger" v-if="requests.indexOf(rowData.id)!=-1" @click="itemAction('removeItem', rowData, rowIndex)">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
</template>

<script>
    export default {
        name:'CustomActions',
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            },
            requests: {
                type: Array,
                default: []
            }
        },
        methods: {
            itemAction (action, data, index) {
                if(action == 'removeItem')
                    this.requests.splice(this.requests.indexOf(data.id))
                if(action == 'addItem')
                    this.requests.push(data.id)
            }
        }
    }
</script>

<style>
    .custom-actions button.ui.button {
        padding: 8px 8px;
    }
    .custom-actions button.ui.button > i.icon {
        margin: auto !important;
    }
</style>
