<template>

    <div class="card">
        <div class="card-body">
            <div class="col-md-10">

                <h2>Parlez nous de vous</h2>
                <hr>
                <div class="form-group row">
                    <label for="cin" class="col-md-4 col-form-label text-md-right">CIN</label>
                    <div class="col-md-5">
                        <input id="cin" type="text" class="form-control form-control-lg">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right">Nom et prénom</label>
                    <div class="col-md-5">
                        <input id="name" type="text" class="form-control form-control-lg">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gender" class="col-md-4 col-form-label text-md-right">Genre</label>
                    <div class="col-md-5">
                        <select class="form-control form-control-lg" required id="gender" name="gender">
                            <option>** </option>
                            <option value="Male" >Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">
                        Numéro de téléphone
                    </label>
                    <div class="col-md-5">
                        <VuePhoneNumberInput :default-country-code="TN"></VuePhoneNumberInput>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">
                        Email
                    </label>
                    <div class="col-md-5">
                        <input id="email" type="email" class="form-control form-control-lg" name="email">
                    </div>
                </div>
                <h2>Parlez nous de votre demande</h2>
                <hr>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">Secteur</label>
                    <div class="col-md-5">
                        <select class="form-control form-control-lg" required name="category">
                            <option>** </option>
                            <option>List</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label text-md-right">Titre</label>
                    <div class="col-md-5">
                        <input class="form-control form-control-lg" id="title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-md-4 col-form-label text-md-right">Description</label>
                    <div class="col-md-8">
                        <textarea class="form-control form-control-lg" id="description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="join_files" class="col-md-4 col-form-label text-md-right">Pieces jointes</label>
                    <div class="col-md-5">
                        <input type="file" multiple id="join_files">
                    </div>
                </div>
                <hr>
                <input type="hidden" id="g-recaptcha-response" value="" name="g-recaptcha-response">
                <div class="form-group row">
                    <div class="col-md-8 offset-4">
                        <p>En appuyant sur Inscription, vous acceptez nos Conditions générales, notre Politique d’utilisation des données et notre Politique d’utilisation des cookies.</p>
                        <button class="btn btn-lg btn-primary">
                            CRÉEZ VOTRE DEMANDE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'gov_request',
        data(){
            return {
                districts: null,
            }
        }
    }
</script>
